<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Info</title>
</head>
<body>
    <%- include('./partials/_navbar'); %>
    <div class="container">
        <div class="row">
            <div class="heading">
                <h1><%= file.name %></h1>
            </div>
            <div class="form">
                <form method="get" action="/view/<%= file.id %>" id="form_search">
                    <div class="form__control-info">
                        <input type="text" name="list" id="search_input" placeholder="TYPE HERE TO SEARCH">
                    </div>
                </form>
            </div>
            <div class="table">
                <table border="solid">
                    <thead id="table_csv_head">
                        <% for(let i = 0; i < header.length; i++){ %>
                        <th>
                            <%= header[i] %>
                    </th>
                        <% } %>
                    </thead>
                    <tbody id="table_csv">
                        <% if (result !== null){ %>
                            <% for(let res of result){ %>
                                <tr>
                                <% for(let item of header){ %>
                                    <td><%= res[`${item}`] %></td>
                                <% } %>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>    
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
</html>